:root {
    --primary-color: #990000;
    --secondary-color: #273403;
    --accent-color: #F56416;
    --neutral-color-1: #8A8E91;
    --neutral-color-2: #F7F7FF;
    --background-color: Black;

    --heading-font: 'Reenie Beanie', cursive;
    --paragraph-font: 'Advent Pro', sans-serif;
}

main,
nav,
footer,
header {
    font-family: var(--paragraph-font);
    color: var(--neutral-color-2);
    background-color: var(--background-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 7rem;
    z-index: 2;
    padding-left: 3.5rem;
    rotate: -9deg;
    margin-top: 2.5rem;
}

header,
body {
    display: grid;
}

header h1,
header picture {
    grid-column-start: 1;
    grid-row-start: 1;
}

picture img {
    width: 100%;
    height: auto;
    z-index: 1;
}

a {
    text-decoration: none;
    color: var(--neutral-color-2);
}

ul {
    list-style-type: none;
    padding: 0;
}

#nav.close {
    display: none;
}

#menu.close::before {
    font-family: "Font Awesome 6 Free";
    font-weight: 900;
    /* solid icons require this */
    content: "\f6c4";
    /* fa-grid-2 (FA6 equivalent of th-large) */
    font-size: 5rem;
    /* optional */
    display: inline-block;
    /* helps with alignment */
}

nav.open {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-evenly;
}

nav ul li {
    font-size: 2rem;
    background-color: var(--primary-color);
    padding: 2rem 1rem;
    margin: 0 .5rem;
    text-align: center;
}

nav ul li:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}


@media screen and (min-width: 530px) {

    nav.open {
        grid-column-start: 2;
    }

    nav ul li {
        margin: 1rem;
    }
}