:root {
    --primary-color: #990000;
    --secondary-color: #273403;
    --accent-color: #F56416;
    --neutral-color-1: #8A8E91;
    --neutral-color-2: #F7F7FF;
    --background-color: Black;

    --heading-font: 'Reenie Beanie', cursive;
    --paragraph-font: 'Advent Pro', sans-serif;
}

main,
nav,
footer,
header {
    font-family: var(--paragraph-font);
    color: var(--neutral-color-2);
    background-color: var(--background-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 7rem;
    z-index: 2;
    padding-left: 3.5rem;
    rotate: -9deg;
    margin-top: 2.5rem;
}

header,
body {
    display: grid;
}

header h1,
header picture {
    grid-column-start: 1;
    grid-row-start: 1;
}

picture img {
    width: 100%;
    height: auto;
    z-index: 1;
}

a {
    text-decoration: none;
    color: var(--neutral-color-2);
}

ul {
    list-style-type: none;
    padding: 0;
}

#nav.close {
    display: none;
}

#menu.close::before {
    font-family: "Font Awesome 6 Free";
    /* kits use this */
    font-weight: 900;
    /* solid icons */
    content: "\f009";
    /* ← correct unicode for th-large when using Kits */
    font-size: 1.3rem;
    display: inline-block;
}

nav.open {
    display: block;
}

nav ul {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 0;
    justify-content: flex-start;
}

nav ul li {
    font-size: 2rem;
    background-color: var(--primary-color);
    padding: 3rem 1rem;
    text-align: center;    
}
nav ul li:nth-child(1) {
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0 100%);
    margin-top: .5rem;;
}

nav ul li:nth-child(2) {
    clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0 100%);
}

nav ul li:nth-child(3) {
    clip-path: polygon(0 20%, 100% 0%, 100% 100%, 0 100%);
    margin-bottom: 1.5rem;
}



nav ul li:hover {
    background-color: var(--accent-color);
    cursor: pointer;
}


@media screen and (min-width: 530px) {

    nav.open {
        grid-column-start: 2;
    }

    nav ul li {
        /* margin: 1rem; */
        margin: 0 .5rem;
    }
}