:root {
    --primary-color: #990000;
    --secondary-color: #273403;
    --accent-color: #F56416;
    --neutral-color-1: #8A8E91;
    --neutral-color-2: #F7F7FF;
    --background-color: Black;

    --heading-font: 'Reenie Beanie', cursive;
    --paragraph-font: 'Advent Pro', sans-serif;
}

main, nav, footer, header {
    font-family: var(--paragraph-font);
    color: var(--neutral-color-2);
    background-color: var(--background-color);
}

h1 {
    font-family: var(--heading-font);
    color: var(--primary-color);
    font-size: 7rem;
    z-index: 2;
    padding-left: 3.5rem;
    rotate: -9deg;
    margin-top: 2.5rem;
}

header {
    display: grid;
}

header h1, header picture {
    grid-column-start: 1;
    grid-row-start: 1;
}

picture img {
    width: 100%;
    height: auto;
    z-index: 1;
}

a  {
    text-decoration: none;
    color: var(--neutral-color-2);
}

ul {
    list-style-type: none;
}